@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

/* Globales */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {    
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.6rem;
}


#container {
    max-width: 992px;
    margin: 0 auto;
}

/* ContainerMenu*/
.containerMenu {
    position: relative;
}

.titulo {
    display: inline-block;
    font-size: 5rem;
}

nav{
    display: inline-block;
    position: absolute;
    top: 5rem;
    margin-left: 5rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.boton {
    margin-right: 0.4rem;
    padding: 0.2rem 1rem;
    border: 1px solid black;
    border-radius: 0.6rem;
    background-color:cornflowerblue;
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px black;
    font-size: 2rem;
}

.botonActivo {
    background-color:lightgreen ;
}

.boton:hover {
    background-color: lightgreen;
}

.boton:active{
    background-color: cornflowerblue;
}

/* Banner + menuTitulo */
.banner{
    height: 15rem;
    background-image: url(/assets/design1_image2.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 5px black;
}
.menuTitulo {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    border: 1px solid black;
    background-color: white;
}

/* Aside y Main */
.contenido {
    position: relative;
    margin-top: 2rem;
    font-size: 1.8rem;
}

aside {
    display: inline-block;
    border: 1px solid;
    border-radius: 50% 20% 20%;
}

main {
    display: inline-block;
    position: absolute;
    margin-left: 3rem;
}

/* Main */
article {
    margin-bottom: 1rem;
}
article>p {
    margin-left: 1rem;
}