@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

/* Globales */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {    
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.6rem;
    max-width: 992px;
    margin: 0 auto;
}

/* ContainerMenu*/
.containerMenu {
    position: relative;
}

.titulo {
    display: inline-block;
    font-size: 5rem;
}

nav{
    display: inline-block;
    position: absolute;
    top: 5rem;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.boton {
    margin-right: 0.4rem;
    padding: 0.2rem 1rem;
    border: 1px solid black;
    border-radius: 0.6rem;
    background-color:cornflowerblue;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: 700;
    font-size: 1.7rem;
}

.botonActivo {
    background-color:lightgreen ;
}

.boton:hover {
    background-color: lightgreen;
}

.boton:active{
    background-color: cornflowerblue;
}

/* Banner + menuTitulo */
.banner{
    height: 15rem;
    background-image: url("../assets/design1_image2.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 5px black;
}
.menuTitulo {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 2rem;
}

/* Logo en Aside y Main */
main {
    display: flex;
    font-size: 1.8rem;
}

.logo {
    border: 1px solid;
    border-radius: 50% 20% 20%;
}

/* Section */
section, .section-contact{
    margin-left: 3rem;
}

article {
    margin-bottom: 1rem;
}
article>p {
    margin-left: 1rem;
}

/* Rules Page */

.titulos-rules {
    text-align: center;
    margin-bottom: 2rem;
}

ul, ol {
    list-style-position: inside;
    margin-top: 1rem;
}

.descripcion-lista {
    text-indent: 2rem;
}

dt {
    font-weight: bold;
    font-size: 2.11rem;
}

ol>li, dl {
    margin-bottom: 3rem;
}

.lista-letras {
    margin-top: 0px;
}

.lista-letras>li {
    list-style-type: lower-latin;
    margin: 0px 0px;
}


.allplay {
    margin-left: 6rem;
    list-style-type:circle;
    margin-top: 0px;
}

/* Schedule */
.info {
    font-style: italic;
    text-decoration: underline;
}

table {
    margin: 4rem auto;
}

tr, td {
    padding: 0.6rem;
}

th {
    text-align:left;
}

td[rowspan], tr:last-child>td {
    text-align: center;
}

.first-col {
    width: 12rem;
}

.second-col {
    padding-right: 10rem;
}

.third-col {
    padding-right: 8rem;
}

.extra-info {
    margin-bottom: 1rem;
}

.extra-info-margen {
    margin-bottom: 2rem;
}

.contact-schedule {
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
}