@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

/* Globales */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.6rem;
    max-width: 1024px;
    margin: 0 auto;
}

/* ContainerMenu*/
.containerMenu {
    display: flex;
    justify-content: space-between;
}

.titulo {
    font-size: 5rem;
}

nav {
    position: relative;
    top: 5rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.boton {
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    background-color: cornflowerblue;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 1.7rem;
}

.botonActivo {
    background-color: lightgreen;
}

.boton:hover {
    background-color: lightgreen;
}

.boton:active {
    background-color: cornflowerblue;
}

/* Banner + menuTitulo */
.banner {
    height: 15rem;
    background-image: url("../assets/design1_image2.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 5px black;
}

.menuTitulo {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: white;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* Logo en Aside y Main */
main {
    display: flex;
    font-size: 1.8rem;
}

.logo {
    border: 1px solid;
    border-radius: 50% 20% 20%;
}

/* Section */
section,
.section-contact,
.section-form {
    margin-left: 3rem;
}

article {
    margin-bottom: 1rem;
}

article>p {
    margin-left: 1rem;
}

/* Rules Page */

.titulos-rules {
    text-align: center;
    margin-bottom: 2rem;
}

ul,
ol {
    list-style-position: inside;
    margin-top: 1rem;
}

.descripcion-lista {
    text-indent: 2rem;
}

dt {
    font-weight: bold;
    font-size: 2.11rem;
}

ol>li,
dl {
    margin-bottom: 3rem;
}

.lista-letras {
    margin-top: 0px;
}

.lista-letras>li {
    list-style-type: lower-latin;
    margin: 0px 0px;
}


.allplay {
    margin-left: 6rem;
    list-style-type: circle;
    margin-top: 0px;
}

/* Schedule */
.info {
    font-style: italic;
    text-decoration: underline;
}

table {
    margin: 4rem auto;
}

tr,
td {
    padding: 0.6rem;
}

th {
    text-align: left;
}

td[rowspan],
tr:last-child>td {
    text-align: center;
}

.first-col {
    width: 12rem;
}

.second-col {
    padding-right: 10rem;
}

.third-col {
    padding-right: 8rem;
}

.extra-info {
    margin-bottom: 1rem;
}

.extra-info-margen {
    margin-bottom: 2rem;
}

.contact-schedule {
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
}

/* Maps locations */
.titulo-locations {
    text-align: center;
    margin: 4rem 0 2rem 0;

}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

.locations>div {
    border: 2px lightgreen solid;
}

.locations h3 {
    text-align: center;
    padding: 1rem;
    background-color: lightgreen;
}


iframe {
    width: 350px;
    height: 300px;
}

/* Registration Form */
.section-form {
    width: 100%;
}

form {
    margin: 0 auto 3rem auto;
    width: 600px;
}

fieldset {
    margin-bottom: 1rem;
    padding: 1.2rem;
}

fieldset>legend:first-child {
    font-size: 2rem;
    font-weight: bold;
}

.personal-info input,
.permission input {
    display: block;
    width: 30rem;
}

.personal-info>label,
.uniform>label {
    display: block;
    margin-bottom: 1rem;
}

.personal-info__radio label {
    margin-right: 1rem;
}

input[type="radio"] {
    margin-right: 0.2rem;
}

input[type="checkbox"] {
    margin-right: 0.3rem;
}

.position>label {
    margin-right: 2rem;
}

.permission {
    margin-top: 1rem;
}

.permission label {
    display: block;
    margin-bottom: 1rem;
}

.permission input {
    display: inline;
}

input[type="date"] {
    display: inline;
    width: 15rem;
    text-align: center;
}

input[type="submit"] {
    display: block;
    margin: 3rem auto 1rem auto;
    width: 20rem;
    height: 3rem;
    cursor: pointer;
    font-weight: bold;
    border: solid black 1px;
    border-radius: 0.3rem;
    background-color: lightseagreen;
}

input[type="submit"]:hover {
    background-color: seagreen;
}
